/* overall layout */
body {
    font-family: "Poppins", sans-serif;
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
    color: #87959f;
}

/* header */
header {
    background: #2d3945;
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
}

/*greeting below header*/
.welcome {
    text-align: center;
    margin: 2em 0 3em;
}

legend {
    font-weight: bold;
    font-size: 1.4em;
    color: #2d3945;
    margin-bottom: 0.5em;
}

/* contact information form */

.contact {
    background: #f8f8ff;
    padding: 0.5em;
    border-radius: 5px;
}

h2 {
    color: #2d3945;
}

fieldset {
    border: none;
    padding: 0;
}

.contact label {
    display: block;
    margin: 1em 0;
}

.contact input,
.contact select,
textarea {
    background: #eff0f1;
    transition: background 0.8s ease;
    padding: 0.8em 1.2em;
    border: none;
    box-sizing: border-box;
    width: 100%;
}
#zip {
    width: 50%;
}

#state {
    color: #87959f;
}

::placeholder {
    font-size: 0.7em;
    font-style: italic;
    text-align: right;
    padding-right: 3em;
    color: #87959f;
}

input:focus,
textarea:focus,
select:focus {
    outline-style: solid;
    outline-width: thin;
    outline-color: #2d3945;
    background: lightgray;
    /* transition: background 0.8s ease; */
}

/* newletter section */
.newsletter {
    background: #f8f8ff;
    padding: 0.5em;
    border-radius: 5px;
}

.newsletter input {
    margin: 0.8em;
}

.newsletter-details {
    display: block;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

/* horizontal lines */
.top {
    border-top: 4px solid;
}

hr {
    border-top: none;
    border-bottom: 2px solid;
    border-left: 0;
    border-right: 0;
    height: 5px;
    color: #2d3945;
    margin: 2em 0;
}

/* submit button */
button {
    background: #4ebbb5;
    color: white;
    padding: 1.3em;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: 2em 0;
    font-size: 1.2em;
    cursor: pointer;
}

/* footer */
footer {
    color: #87959f;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 5em;
}

/* media query */

@media (min-width: 768px) {
    .flex-pair {
        display: flex;
    }
    .flex-pair label {
        flex-basis: 25%;
    }
    .flex-pair input,
    .flex-pair select {
        margin-bottom: 1em;
        flex-basis: 75%;
    }
    #zip {
        max-width: 30%;
    }
}
